.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
../sheplang/**
node_modules/@radix-obsidian/sheplang-language/src/**
node_modules/@radix-obsidian/sheplang-language/test/**
node_modules/@radix-obsidian/sheplang-language/node_modules/**
node_modules/**/test/**
node_modules/**/*.ts
node_modules/**/*.map
